.container{
    width: 1024px;
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
}

.title{
    background: rgb(207,236,251);
    background: radial-gradient(circle, rgba(207,236,251,1) 0%, rgba(174,224,251,1) 100%);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 10px;
    text-align: center;
}

.title h1{
    font-size: 18px;
    text-transform: uppercase;
}

.content{
    padding: 10px;
}

.content ul{
    margin: 0;
    padding: 0;
}

.block--mod{
    display: flex;
    line-height: 30px;
}

.block--mod h2{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.block--mod p{
    font-size: 15px;
    margin: 0 10px;
    padding: 0;
}

.block button{
    margin-left: 5px;
}

.content ul li{
    list-style: none;
    background: #ebf4f9;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
